.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 15px 0px;
  margin: 25px 0px;
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--main-letter-collor);
}

.recommended-friends span {
  display: block;
  margin: 70px 0px;
  text-align: center;
  font-size: 14px;
  color: var(--main-letter-collor);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.open-chat__title {
  font-size: 18px;
  color: var(--main-letter-collor);
}

.open-chat__header span {
  color: var(--main-letter-collor);
  opacity: 0.6;
  font-size: 17px;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.6;
  font-size: 14px;
}

.open-post__members .divider {
  width: 1px;
  height: 15px;
  margin: 0 5px;
  background-color: var(--main-letter-collor);
}

.open-post__member-status--active {
  color: #ff7dcd;
}

.open-post__member-status--locked {
  color: teal;
}

.open-post__photo img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}

.open-post__photo {
  position: relative;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }

  50% {
    color: tomato;
    transform: scale(1.5);
  }

  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count span {
  margin-left: 3px;
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
